@using Markdig
@model Page

@{
    ViewData["Title"] = $"{Model.Title}";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        @{
            if (ViewBag.Category != null)
            {
                <li class="breadcrumb-item" aria-current="page"><a href="/category/@ViewBag.Category.Slug">@ViewBag.Category.Title</a></li>
            }

            if (ViewBag.Page != null)
            {
                <li class="breadcrumb-item" aria-current="page"><a href="/page/@ViewBag.Page.Slug">@ViewBag.Page.Title</a></li>
            }
        }
    </ol>
</nav>

<div class="jumbotron">
    <h1 class="card-title">
        @Model.Title
    </h1>

    <div class="row rowmargin">
        <a href="/page/edit/@Model.Id" class="btn btn-sm btn-primary mb-3 mr-3">
            Edit Page
        </a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <p class="card-text">
            @Html.Raw(Markdown.ToHtml(Model.Content ?? string.Empty))
        </p>
    </div>
</div>

<div class="row rowmargin">
    <a href="/page/add/@Model.Id" class="btn btn-sm btn-primary mt-3 mb-3 mr-3">
        Add Page
    </a>
</div>

<div class="d-flex flex-wrap">
    @{
        if (ViewBag.Pages != null)
        {
            foreach (Page item in ViewBag.Pages)
            {
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-no-pad">
                    <div class="card shadow  mt-2 mb-2">
                        <div class="card-body">
                            <p>
                                <a href="/page/@item.Slug">@item.Title</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>

<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = "/page/@Model.Slug";
        this.page.identifier = "@Model.Id";
    };
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://phelections.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
